:root{
	--blue: #5CACF2;
	--navy: #4E98D9;
	--dark: #2B88D9;
	--light: #F2F2F2;
	--red: #f01e1e;
}


/* #A0CCF2 */
body{
	padding-left: 2%;
	padding-right: 1%;
}

* {
  box-sizing: border-box;
	font-family: Helvetica;
}
.items-cont{
	flex-wrap: wrap;
}
.item{
	width: 12em;
	text-align: center;
	align-items: center;
	height: 15em;
}
.item:hover, .supplier-card:hover{
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.21);
}
.font-small{
	font-size: small;
	margin-bottom: 0;
}
.font-medium{
	font-size: medium;
	margin-bottom: 0;
}
.item-img{
	width: 12em;
	height: 130px;
	/* 190px */
}
.item-name{
	font-weight: 700;
}
.cart{
	flex-direction: row;
}
.cart-head{
	display: flex;
	justify-content: space-between;
}
.cart-cont{
	display: flex;
	flex-direction: column;
}
.price{
	width: 4.8em;
	margin-left: auto;
}
.sidebar-print{
	background-color: var(--light);

	border-radius: 10px;
	margin-left: 5px;
}
.sidebar-parent{
	color: rgb(82, 80, 80);
}
.remove:hover{
	color: var(--red);
}
.remove{
	width: 1.6em;
	height: 1.5em;
}
.logo{
	width: 50px;
	height: 50px;
}
.logo-cont{
	padding: 0%;
}
.delete-btn{
	margin-top: 0;
}
.sidebar-list{
	list-style: none;
}
.sidebar-ul{
	display: flex;
	flex-direction: column;
	padding-left: 0%;
}
.sidebar-icons{
	font-size: 150%;
	color: #111;
}
.sidebar-link{
	text-decoration: none;
	color: #111;
}
.table-row{
	cursor: pointer;
}
.table-row:hover, .user-cont:hover{
	background-color: #333;
	color: #eee;
}
.sale-view-btn{
	display: flex;
	justify-content: space-evenly;
}
.sale-view{
	width: 50%;
}
.supplier-img{
	width: auto;
	height: 10em;
}
.supplier-cont{
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
}
.update-btn{
	background-color: orange;
}
.supplier-card{
	width: 200px;
}
.update-supplier{
	display: flex;
	justify-content: space-around;
}
.login-img{
	width: 35em;
	height: 30em;
	padding-top: 90px;
	padding-left: 40px;
}
.login-form{
	width: 40em;
	height: 25em;
	border-radius: 20px;
	margin-left: 150px;
	margin-top: 100px;
}
.user-cont{
	flex-direction: row;
	justify-content: space-between;
}
.category-user-btns{
	display: flex;
	justify-content: space-around;
}
.newsupplier-btn:hover{
	background-color: white !important;
}